/*
***
* HAREM WEBSITE
***
*  SCSS TABLE OF CONTENTS
*   
*  1.0 - Variables
*  2.0 - Reset
*  3.0 - Fonts
*  4.0 - Globals
*  5.0 - Header
*  6.0 - Footer
*  7.0 - Home
*    7.1 - Hero
*    7.2 - Newsletter
*    7.2 - Instagram Feed
*  8.0 - Category Page
*  9.0 - Product Page
*  10.0 - About Page
*
***
*/


/* ==========================================================================
   1.0  Variables
   ========================================================================== */


/* COLORS */

$white: #fff;
$black: #000;
$dark: #464646;
$primary-font-strano: "Merriweather",
serif;
$secondary-font-roboto: "Roboto",
serif;

/* GRADIENT */

@mixin gradientTopHeader() {
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(25, 25, 25, 1) 50%);
}

html {
    scrollbar-width: none;
}

body {
    background-color: #ffffff;
    position: relative;
    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
        display: none;
    }
}

body,
html {
    max-width: 100vw;
    overflow-x: hidden;
    a {
        text-decoration: none;
        color: $black;
        &:hover {
            color: $black;
        }
    }
    ul {
        list-style: none;
    }
    * {
        font-family: "Merriweather", serif;
    }
}

ul,
ol {
    margin: 0 !important;
    padding: 0 !important;
}

h1,
h2,
h3,
h4,
p,
span {
    margin: 0;
    color: $black;
}

h1 {
    font-size: 70px !important;
}

h2 {
    font-size: 65px !important;
}

h3 {
    font-size: 54px !important;
}

p {
    font-size: 20px !important;
}

.custom-container {
    width: 90%;
    padding-right: 15px;
    padding-left: 15px;
}

.banner-transparent {
    background-color: transparent !important;
}

h1 {
    font-size: 90px;
    font-weight: 700;
}

h2 {
    font-size: 62px;
    font-weight: 700;
}

h3 {
    font-size: 30px;
    font-weight: 700;
}

h4 {
    font-size: 24px;
    font-weight: 700;
}

a:focus {
    outline-style: none;
}

svg {
    max-width: 35px;
    max-height: 35px;
}

.row {
    margin: 0px !important;
}

.no-pad {
    padding: 0 !important;
}


/* ==========================================================================
   3.0  Fonts
   ========================================================================== */

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,400;1,700;1,900&display=swap");

/* ==========================================================================
   5.0 - Header
   ========================================================================== */

$height-top-header: 62px;
$width-container: 85%;
.col-full {
    width: $width-container;
    max-width: $width-container;
    margin: auto;
    /*     border-right: 1px solid;
    border-left: 1px solid; */
}

.icon-wrap {
    margin-right: 10px;
}


/* BUTTON COMMON STYLE */


/* 5.1 - Top-Header */

#site-header {
    height: 90vh;
    width: 100vw;
    background-color: $white;
    position: relative;
    #top-header {
        * {
            font-family: $secondary-font-roboto;
        }
        height: $height-top-header;
        width: 100%;
        @include gradientTopHeader;
        position: fixed;
        display: flex;
        z-index: 9;
        .menu-top-header {
            display: flex;
            justify-content: space-between;
            color: $white;
            &>div {
                gap: 20px;
            }
            & * {
                display: flex;
                align-items: center;
            }
        }
    }
    #main-header {
        position: relative;
        height: 90vh;
        width: 100vw;
        background-color: $white;
        &>.row {
            height: 100%;
            width: 100%;
            overflow: hidden;
        }
        #header-menu {
            margin: calc($height-top-header + 4px) auto;
            .animate-menu {
                margin: 20px 0;
                a {
                    font-size: 25px;
                }
                span.underline {
                    display: block;
                    position: absolute;
                    bottom: -15px;
                    left: 0;
                    width: 0;
                    height: calc(1px + 0.6vw);
                    background-color: $black;
                    z-index: -1;
                }
            }
        }
        .vinile-wrap-container {
            position: relative;
            .vinile-wrap {
                position: absolute;
                right: -15%;
                top: 50%;
                transform: translateY(-50%);
                .servizi-wrap {
                    position: relative;
                    z-index: 9999;
                    #servizio-01,
                    #servizio-02 {
                        position: absolute;
                        top: 50%;
                        left: -75%;
                        transform: translate(50%, -50%);
                        .testo-servizio {
                            width: fit-content;
                            position: absolute;
                            text-align: right;
                            color: rgba(0, 0, 0, 0.07);
                            left: -55%;
                            font-family: $primary-font-strano;
                            .numero {
                                font-size: 213px;
                            }
                            .nome {
                                font-size: 82px;
                                margin-top: -102px;
                            }
                        }
                        .titolo-servizio {
                            a {
                                width: fit-content;
                                font-style: italic;
                                font-size: 40px;
                                font-family: $primary-font-strano;
                                text-transform: uppercase;
                                margin-left: -20%;
                                margin-top: 16px;
                                display: block;
                                border-bottom: 2px solid $black;
                            }
                        }
                    }
                    #servizio-02 {
                        display: none;
                    }
                }
                .controlli-wrap {
                    z-index: 99999;
                    position: absolute;
                    top: 50%;
                    left: 5%;
                    transform: translateY(-50%);
                    height: 150px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                }
            }
        }
    }
}

#site-main {
    #chi-siamo {
        background-image: url("../src/assets/upload/img/sfondo_chi_siamo.jpg");
        height: 100vh;
        background-size: cover;
        .container-fluid {
            height: 100vh;
            .row {
                height: 100%;
                /* .col-md-5 {} */
                .col-md-6:last-child {
                    height: 100%;
                    display: flex;
                    align-items: center;
                    .container-text-wrap {
                        height: 100%;
                        width: 80%;
                        /* border: 1px solid red;
                        position: relative;
                        .line {
                            height: 200px;
                            width: 1px;
                            background-color: #fff;
                            display: block;
                            position: absolute;
                        } */
                        .container-text {
                            padding: calc($height-top-header + 4px) 0;
                            display: flex;
                            height: 100%;
                            flex-direction: column;
                            justify-content: center;
                            margin-left: -4%;
                        }
                        * {
                            color: $white;
                        }
                        h3 {
                            font-style: italic;
                            font-weight: 600;
                            letter-spacing: 1.4px;
                        }
                        .description {
                            margin-top: 2em;
                            p {
                                font-family: $secondary-font-roboto;
                                font-weight: 300;
                            }
                        }
                        .button-wrap-contattaci {
                            margin-top: 4%;
                            .btn-harem-outline {
                                font-family: "Roboto", serif;
                                border: 1px solid #fff;
                                border-radius: 25px;
                                padding: 8px 30px;
                                font-weight: 400;
                                letter-spacing: 1.2px;
                            }
                        }
                    }
                }
                .col-md-6 {
                    height: 100%;
                    .col-full {
                        height: 100%;
                        .container-sx-wrap {
                            height: 100%;
                            .content-text {
                                height: 100%;
                                display: flex;
                                flex-direction: column;
                                justify-content: end;
                                padding: 15% 0;
                                .chi-siamo-link {
                                    width: fit-content;
                                    font-size: 106px !important;
                                    font-family: $secondary-font-roboto;
                                    text-decoration: none;
                                    color: transparent;
                                    -webkit-text-stroke: 4px #fff;
                                    transition: 0.1s ease;
                                    text-transform: uppercase;
                                    &:hover {
                                        color: $white;
                                        transition: all 1s cubic-bezier(0.84, 0, 0.08, 0.99);
                                    }
                                    &:nth-child(2) {
                                        margin-left: 15%;
                                    }
                                    &:last-child {
                                        margin-left: 5%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .servizio {
        .immagine-servizio {
            position: relative;
            img {
                height: auto;
                width: 100vw;
                object-fit: cover;
            }
            .nome-servizio {
                position: absolute;
                bottom: 0;
                left: 2%;
                text-align: right;
                color: $white;
                font-family: $primary-font-strano;
                .numero {
                    font-size: 213px;
                }
                .nome {
                    font-size: 102px;
                    margin-top: -102px;
                }
            }
        }
        .descrizione-servizio {
            margin: 64px 0;
            .titolo-servizio {
                font-family: $primary-font-strano;
                text-align: center;
                & * {
                    margin: 0;
                    width: fit-content;
                }
                display: flex;
                flex-direction: column;
                align-items: center;
                .titolo {
                    font-size: 50px !important;
                    text-transform: uppercase;
                }
                .sottotitolo {
                    font-size: 38px !important;
                    border-bottom: 2px solid $black;
                    color: $dark;
                    padding-bottom: 10px;
                }
            }
        }
        .corpo-descrizione {
            p {
                margin: 64px 0;
                color: $dark;
                font-family: $secondary-font-roboto;
                font-size: 20px !important;
                font-weight: 300;
            }
        }
    }
}